@font-face {
    font-family: Kouzan;
    src: url(../font/KouzanMouhituFont.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
nav {
    display: grid;
    grid-template-columns: 30% 70%; 
    padding: 30px;
}
#logo > span {
    font-family: Kouzan;
    font-size: 48px;
    font-weight: 900;
}

#guid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    align-items: center; /*對齊 垂直置中*/
    text-align: center;
}

#banner {
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 1280px;
}

#guid a {
    text-decoration: none;
    color: brown;
    transition: 0.3s;
}

#guid a:hover {
    color: black;
    font-size: 20px;
}